@media (min-width: 768px) {
  .carousel-container {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .carousel-container::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }

  .carousel-item {
    scroll-snap-align: start;
  }
}
