<div class="grid grid-cols-1 lg:grid-cols-12 h-full">
  <main class="lg:col-span-8 bg-gray-50 p-6 overflow-y-auto -mb-6">

    @if(products$ | async; as products) {

      <app-deposit-section></app-deposit-section>
      <app-stamp-card-section></app-stamp-card-section>

      @if(categories$ | async; as categories){
        @for(category of categories; track category){

          <app-product-category-section
            [categoryTitle]="category | categoryDisplay"
            [products]="productService.getProductsByCategory(category)"
            class="col-span-8"/>

        }
      }
    } @else {
      <span class="font-extrabold">BACKEND LÄDT ...</span>
    }
  </main>

  <aside class="lg:col-span-4 bg-white border-l p-6 overflow-y-auto">
    <div class="h-full overflow-y-auto">
      <app-order-summary/>
      <div class="flex justify-center">
        <button matButton class="!bg-rotaract-cranberry !text-white !rounded-lg w-80" (click)="onSendOrder()">BEZAHLEN</button>
      </div>
      <div class="flex justify-center pt-5">
        <button matButton class="!bg-white !border-1 !border-b-rotaract-cranberry !rounded-lg w-80" (click)="orderService.clearOrder()">ALLES LÖSCHEN</button>
      </div>
      </div>
  </aside>

</div>
